priority 1

extends html, javascript, css, typescript

snippet vue "Vue default template for new components" br
<template>
	
</template>

<style lang="scss" scoped>


</style>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
	data(){
		return {

		}
	}
});
</script>
endsnippet




